<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayTrackServlet</servlet-name>
    <servlet-class>servlets.DisplayTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTrackServlet</servlet-name>
    <url-pattern>/displayTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayAlbumServlet</servlet-name>
    <servlet-class>servlets.DisplayAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAlbumServlet</servlet-name>
    <url-pattern>/displayAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckCookieServlet</servlet-name>
    <servlet-class>servlets.CheckCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCookieServlet</servlet-name>
    <url-pattern>/checkCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalizationServlet</servlet-name>
    <servlet-class>servlets.FinalizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalizationServlet</servlet-name>
    <url-pattern>/finalization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEditReviewServlet</servlet-name>
    <servlet-class>servlets.AddEditReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEditReviewServlet</servlet-name>
    <url-pattern>/addEditReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <servlet-class>servlets.SubmitReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReviewServlet</servlet-name>
    <url-pattern>/submitReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class>servlets.OrderConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern>/orderConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvoiceServlet</servlet-name>
    <servlet-class>servlets.InvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceServlet</servlet-name>
    <url-pattern>/invoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintInvoiceServlet</servlet-name>
    <servlet-class>servlets.PrintInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintInvoiceServlet</servlet-name>
    <url-pattern>/printInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
    <url-pattern>/addToCart</url-pattern>
    <url-pattern>/removeFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlets.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>servlets.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadsServlet</servlet-name>
    <servlet-class>servlets.DownloadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadsServlet</servlet-name>
    <url-pattern>/downloads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>servlets.admin.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewInventoryServlet</servlet-name>
    <servlet-class>servlets.admin.ViewInventoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInventoryServlet</servlet-name>
    <url-pattern>/admin/viewInv</url-pattern>
    <url-pattern>/admin/sale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTrackServlet</servlet-name>
    <servlet-class>servlets.admin.AddTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrackServlet</servlet-name>
    <url-pattern>/admin/addTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.AddAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAlbumServlet</servlet-name>
    <url-pattern>/admin/addAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.SubmitAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAlbumServlet</servlet-name>
    <url-pattern>/admin/submitAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitTrackServlet</servlet-name>
    <servlet-class>servlets.admin.SubmitTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTrackServlet</servlet-name>
    <url-pattern>/admin/submitTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.EditAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAlbumServlet</servlet-name>
    <url-pattern>/admin/editAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTrackServlet</servlet-name>
    <servlet-class>servlets.admin.EditTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTrackServlet</servlet-name>
    <url-pattern>/admin/editTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAlbumServlet</servlet-name>
    <url-pattern>/admin/updateAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTrackServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTrackServlet</servlet-name>
    <url-pattern>/admin/updateTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSaleTrackServlet</servlet-name>
    <servlet-class>servlets.admin.EditSaleTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSaleTrackServlet</servlet-name>
    <url-pattern>/admin/editSaleTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSaleAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.EditSaleAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSaleAlbumServlet</servlet-name>
    <url-pattern>/admin/editSaleAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchasedTracksServlet</servlet-name>
    <servlet-class>servlets.PurchasedTracksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasedTracksServlet</servlet-name>
    <url-pattern>/purchasedTracks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClientServlet</servlet-name>
    <servlet-class>servlets.admin.GetClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClientServlet</servlet-name>
    <url-pattern>/admin/getClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeRemovalStatusServlet</servlet-name>
    <servlet-class>servlets.admin.ChangeRemovalStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRemovalStatusServlet</servlet-name>
    <url-pattern>/admin/changeRemovalStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewsServlet</servlet-name>
    <servlet-class>servlets.admin.ReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewsServlet</servlet-name>
    <url-pattern>/admin/reviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClientServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClientServlet</servlet-name>
    <url-pattern>/admin/updateClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <servlet-class>servlets.admin.ViewOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <url-pattern>/admin/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditOrderServlet</servlet-name>
    <servlet-class>servlets.admin.EditOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrderServlet</servlet-name>
    <url-pattern>/admin/editOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveDetailServlet</servlet-name>
    <servlet-class>servlets.admin.RemoveDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDetailServlet</servlet-name>
    <url-pattern>/admin/removeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveInvoiceServlet</servlet-name>
    <servlet-class>servlets.admin.RemoveInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveInvoiceServlet</servlet-name>
    <url-pattern>/admin/removeInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeApprovalReviewServlet</servlet-name>
    <servlet-class>servlets.admin.ChangeApprovalReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeApprovalReviewServlet</servlet-name>
    <url-pattern>/admin/changeApprovalReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>servlets.admin.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/admin/deleteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateRssServlet</servlet-name>
    <servlet-class>servlets.admin.PopulateRssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateRssServlet</servlet-name>
    <url-pattern>/admin/populateRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRssServlet</servlet-name>
    <servlet-class>servlets.admin.AddRssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRssServlet</servlet-name>
    <url-pattern>/admin/addRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveRssServlet</servlet-name>
    <servlet-class>servlets.admin.RemoveRssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRssServlet</servlet-name>
    <url-pattern>/admin/removeRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRssServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateRssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRssServlet</servlet-name>
    <url-pattern>/admin/updateRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSaleAlbumServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateSaleAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSaleAlbumServlet</servlet-name>
    <url-pattern>/admin/updateSaleAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSaleTrackServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateSaleTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSaleTrackServlet</servlet-name>
    <url-pattern>/admin/updateSaleTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewReportsServlet</servlet-name>
    <servlet-class>servlets.admin.ViewReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReportsServlet</servlet-name>
    <url-pattern>/admin/reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>servlets.admin.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/admin/survey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSurveyServlet</servlet-name>
    <servlet-class>servlets.admin.DeleteSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSurveyServlet</servlet-name>
    <url-pattern>/admin/deleteSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateAdsServlet</servlet-name>
    <servlet-class>servlets.admin.PopulateAdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateAdsServlet</servlet-name>
    <url-pattern>/admin/populateAds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBannerAdServlet</servlet-name>
    <servlet-class>servlets.admin.UpdateBannerAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBannerAdServlet</servlet-name>
    <url-pattern>/admin/updateBannerAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBannerAdServlet</servlet-name>
    <servlet-class>servlets.admin.RemoveBannerAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBannerAdServlet</servlet-name>
    <url-pattern>/admin/removeBannerAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCartServlet</servlet-name>
    <servlet-class>servlets.VerifyCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCartServlet</servlet-name>
    <url-pattern>/verifyCart</url-pattern>
    <url-pattern>/removeConflicts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBannerAdServlet</servlet-name>
    <servlet-class>servlets.admin.AddBannerAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBannerAdServlet</servlet-name>
    <url-pattern>/admin/addBannerAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditClientServlet</servlet-name>
    <servlet-class>servlets.admin.EditClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClientServlet</servlet-name>
    <url-pattern>/admin/editClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>servlets.admin.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/admin/ad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlbumServlet</servlet-name>
    <servlet-class>servlets.admin.AlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumServlet</servlet-name>
    <url-pattern>/admin/album</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrackServlet</servlet-name>
    <servlet-class>servlets.admin.TrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/admin/track</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorPageServlet</servlet-name>
    <servlet-class>servlets.ErrorPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPageServlet</servlet-name>
    <url-pattern>/errorPage404</url-pattern>
    <url-pattern>/errorPage500</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelpServlet</servlet-name>
    <servlet-class>servlets.HelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpServlet</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TermsOfUseServlet</servlet-name>
    <servlet-class>servlets.TermsOfUseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermsOfUseServlet</servlet-name>
    <url-pattern>/termsOfUse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQServlet</servlet-name>
    <servlet-class>servlets.FAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQServlet</servlet-name>
    <url-pattern>/faq</url-pattern>
  </servlet-mapping>
  <display-name>g1w13</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage500</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage404</location>
  </error-page>
  <resource-ref>
    <res-ref-name>jdbc/g1w13</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>checkCookie</welcome-file>
  </welcome-file-list>
</web-app>